@{
    ViewData["Title"] = "Threads";
}

<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Subject</th>
    </tr>
  </thead>
  <tbody>
    @foreach (Thread thread in Model)
    {
        <tr>
            <th scope="row">
                <h5 class="mb-1">
                    @Html.DisplayFor(modelItem => thread.Subject)
                </h5>
                <p class="mb-1">by unknown, on @Html.DisplayFor(modelItem => thread.CreatedDate)</p>
            </th>
        </tr>
    }
  </tbody>
</table>
