@model Forum.Models.NewReplyViewModel

@{
    ViewData["Title"] = "Post a Reply";
}

<h1>Create</h1>

<h4>Thread</h4>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form 
            asp-route="PostReply"
            asp-route-id="@Html.DisplayFor(modelItem => Model.ParentId)"
        >
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Body" class="control-label"></label>
                <input asp-for="Body" class="form-control"/>
                <span asp-validation-for="Body" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a
       asp-controller="Post"
       asp-action="GetThread" 
       asp-route-id="@Model.ParentId">Back to Thread</a>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}